<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">About BitFTP</h4>
      </div>
      <div class="modal-body">
        <div class="logo-big"></div>
        <p><strong>BitFTP</strong> is a user-friendly, easy configurable, open-source FTP Server for multiple platforms.</p>
        <p class="right">BitFTP v<span app-version></span></p>
        <p class="right">&copy; 2014</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
      </div>
    </div>
  </div>
</div>