<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Removing a user</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this user?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">No, close</button>
        <button type="button" class="btn btn-primary" ng-click="removeUser(removeId); $hide()">Yes, remove</button>
      </div>
    </div>
  </div>
</div>